@page
@model AboutModel
@{
    ViewData["Title"] = "About page";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>This exercise is about utilzing ASP.NET to build a web-application.</p>
</div>
