@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the banking application</h1>
    <p>This application can be used to view and interact with your accounts.</a>.</p>
</div>

<p>To access all counts in JSON-format click <a href="/api/accounts">here</a></p>

@foreach(var account in Model.Accounts)
{
    var data = "api/accounts/" + account.Number;
    <h2>@account.Label </h2>
    <p>To view the JSON-format of the above account click <a href=@data>here</a></p>
}

<form action="/api/accounts" method="post">
    <fieldset>
        <legend>Transfer money</legend>
        <div>
            <label for="originAccount">Origin account</label>
            <input type="number" id="originAccount" name="originAccount">
        </div>
        <div>
            <label for="targetAccount">Target account</label>
            <input type="text" name="targetAccount" value="">
        </div>
        <div>
            <label for="amount">Amount</label>
            <input type="text" name="amount" value="">
        </div>
        <div>
            <input type="submit">
        </div>
    </fieldset>
</form>

