@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the banking application</h1>
    <p>This application can be used to view and interact with your accounts.</a>.</p>
</div>

<a href="/api/accounts">All accounts in JSON</a>

@foreach(var account in Model.Accounts)
{
    var data = "api/accounts/" + account.Number;
    <h2>@account.Label <a href=@data>JSON-Data</a></h2>
}

